name: Laravel APP Setup

on:
  push:
    branches: [ dev, main ]
  pull_request:

permissions:
  contents: write
  
jobs:
  setup-laravel:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Get project code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Install PHP (required for Laravel)
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, bcmath, pdo_mysql

     # 3️⃣ Install Composer globally
      - name: Install Composer
        run: |
          curl -sS https://getcomposer.org/installer | php
          mv composer.phar /usr/local/bin/composer

    # 4️⃣ Create Laravel Project (only if not exists)
      - name: Create Laravel App
      run: |
          if [ ! -d "laravel-app" ]; then
            composer create-project laravel/laravel laravel-app "10.*"
          fi
          
      # 5️⃣ Set permissions
      - name: Fix permissions
        run: chmod -R 777 storage bootstrap/cache

      # 6️⃣ Commit generated Laravel files back to repo
      - name: Commit Laravel project
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto bootstrap Laravel project" || echo "Nothing to commit"
          git push
